/Hands-On/Ch2Fixed/models/california_housing_linreg.pkl
/Hands-On/Ch2Fixed/models/california_housing_preprocessing.pkl
/.idea/encodings.xml
/.idea/Machine-learning-book-notes.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dictionaries/project.xml
/.idea/vcs.xml
